@font-face {
  font-family: "frutiger-LT-57-cond";
  src: url("../fonts/fuente-extra/Frutiger-LT-57-Condensed.ttf");
}
.frutiger-LT-57-cond{
    font-family: "frutiger-LT-57-cond";
}

.h1, .h2, .h3, h1, h2, h3{
    margin-top: 0;
}
/*estilo genericos*/
.modal-content{
    height: 610px;
}
.close{
    line-height: none;
    text-shadow: none;
    opacity: 1;
    color: white;
}
.modal-header{
    border: none;
    float: right;
    width: 10%;
    margin: -25px;
    padding: 0;
}
.close:focus, .close:hover{
    color: white;
    opacity: .7;
}
.contenido-modal{
    padding: 20px;
    width: 70%;
    float: left;
}
.contenido-modal img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;

}
.contenido-modal {
    color: black;
}
.contenido-modal p{
    line-height: 1.3;
    margin: 10px 0px;
}
.contenido-modal .contenido-text{
    height: 180px;
    width: 100%;
}
.contenido-text{
    margin-bottom: 10px;
}
/*modal-rojo*/
.bd-modal-rojo .img-bg-modal{
    background-image: url(../img/img-background/modal-rojo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 608px;
    width: 30%;
    float: left;
    background-position: center;
    border-right: 8px solid #A40606;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.bd-modal-rojo .modal-header .close{
    padding:  12px 19px 14px 19px;
    margin: 0;
    border-radius: 50%;
    background-color: #A40606;
}

.bd-modal-rojo .contenido-modal h3{
    background-color: #A40606;
    padding: 7px 5px;
    text-align: center;
    font-family: "frutiger-LT-57-cond";
    font-weight: 100;
    letter-spacing: 1px;
    color: white;
    border-radius: 10px;
}
.contenido-modal h3{
  border-radius: 10px;
}
.bd-modal-rojo .contenido-modal .btn-modal-leer-mas{
    background-color: #A40606;
    border: none;
    width: 100%;
    border-radius: 10px;
    color: white;
    padding: 5px;
    letter-spacing: 1px;
    text-align: center;
}
.bd-modal-rojo .contenido-modal .btn-modal-leer-mas:hover{
    background-color:#770202;
}

/*modal-amarillo*/
.bd-modal-amarillo .img-bg-modal{
    background-image: url(../img/img-background/modal-amarillo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 608px;
    width: 30%;
    float: left;
    background-position: center;
    border-right: 8px solid #FFA900;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.bd-modal-amarillo .modal-header .close{
    padding:  12px 19px 14px 19px;
    margin: 0;
    border-radius: 50%;
    background-color: #FFA900;
}

.bd-modal-amarillo .contenido-modal h3{
    background-color: #FFA900;
    padding: 7px 5px;
    text-align: center;
    font-family: "frutiger-LT-57-cond";
    font-weight: 100;
    letter-spacing: 1px;
    color: white;
}

.bd-modal-amarillo .contenido-modal .btn-modal-leer-mas{
    background-color: #FFA900;
    border: none;
    width: 100%;
    border-radius: 10px;
    color: white;
    padding: 5px;
    letter-spacing: 1px;
    text-align: center;
}
.bd-modal-amarillo .contenido-modal .btn-modal-leer-mas:hover{
    background-color: #FFA900;
}

/*modal-lila*/
.bd-modal-lila .img-bg-modal{
    background-image: url(../img/img-background/modal-lila.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 608px;
    width: 30%;
    float: left;
    background-position: center;
    border-right: 8px solid #7474C3;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.bd-modal-lila .modal-header .close{
    padding:  12px 19px 14px 19px;
    margin: 0;
    border-radius: 50%;
    background-color: #7474C3;
}

.bd-modal-lila .contenido-modal h3{
    background-color: #7474C3;
    padding: 7px 5px;
    text-align: center;
    font-family: "frutiger-LT-57-cond";
    font-weight: 100;
    letter-spacing: 1px;
    color: white;
}

.bd-modal-lila .contenido-modal .btn-modal-leer-mas{
    background-color:#7474C3;
    border: none;
    width: 100%;
    border-radius: 10px;
    color: white;
    padding: 5px;
    letter-spacing: 1px;
    text-align: center;
}
.bd-modal-lila .contenido-modal .btn-modal-leer-mas:hover{
    background-color:#7474C3;
}

/*modal-morado*/
.bd-modal-morado .img-bg-modal{
    background-image: url(../img/img-background/modal-morado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 608px;
    width: 30%;
    float: left;
    background-position: center;
    border-right: 8px solid #9A42DC;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.bd-modal-morado .modal-header .close{
    padding:  12px 19px 14px 19px;
    margin: 0;
    border-radius: 50%;
    background-color: #9A42DC;
}

.bd-modal-morado .contenido-modal h3{
    background-color: #9A42DC;
    padding: 7px 5px;
    text-align: center;
    font-family: "frutiger-LT-57-cond";
    font-weight: 100;
    letter-spacing: 1px;
    color: white;
}

.bd-modal-morado .contenido-modal .btn-modal-leer-mas{
    background-color:#9A42DC;
    border: none;
    width: 100%;
    border-radius: 10px;
    color: white;
    padding: 5px;
    letter-spacing: 1px;
    text-align: center;
}
.bd-modal-morado .contenido-modal .btn-modal-leer-mas:hover{
    background-color:#9A42DC;
}

/*modal-celeste*/
.bd-modal-celeste .img-bg-modal{
    background-image: url(../img/img-background/modal-celeste.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 608px;
    width: 30%;
    float: left;
    background-position: center;
    border-right: 8px solid #479DC5;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.bd-modal-celeste .modal-header .close{
    padding:  12px 19px 14px 19px;
    margin: 0;
    border-radius: 50%;
    background-color: #479DC5;
}

.bd-modal-celeste .contenido-modal h3{
    background-color: #479DC5;
    padding: 7px 5px;
    text-align: center;
    font-family: "frutiger-LT-57-cond";
    font-weight: 100;
    letter-spacing: 1px;
    color: white;
}

.bd-modal-celeste .contenido-modal .btn-modal-leer-mas{
    background-color:#479DC5;
    border: none;
    width: 100%;
    border-radius: 10px;
    color: white;
    padding: 5px;
    letter-spacing: 1px;
    text-align: center;
}
.bd-modal-celeste .contenido-modal .btn-modal-leer-mas:hover{
    background-color:#479DC5;
}

/*modal-verde*/
.bd-modal-verde .img-bg-modal{
    background-image: url(../img/img-background/modal-verde.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 608px;
    width: 30%;
    float: left;
    background-position: center;
    border-right: 8px solid #3BB606;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.bd-modal-verde .modal-header .close{
    padding:  12px 19px 14px 19px;
    margin: 0;
    border-radius: 50%;
    background-color: #3BB606;
}

.bd-modal-verde .contenido-modal h3{
    background-color: #3BB606;
    padding: 7px 5px;
    text-align: center;
    font-family: "frutiger-LT-57-cond";
    font-weight: 100;
    letter-spacing: 1px;
    color: white;
}

.bd-modal-verde .contenido-modal .btn-modal-leer-mas{
    background-color:#3BB606;
    border: none;
    width: 100%;
    border-radius: 10px;
    color: white;
    padding: 5px;
    letter-spacing: 1px;
    text-align: center;
}
.bd-modal-verde .contenido-modal .btn-modal-leer-mas:hover{
    background-color:#3BB606;
}

.leermas {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

/*MODALES MUNDO CACHORRO*/
.bd-modal-primerosdias .img-bg-modal {
    background-image: url(../img/img-background/modal-primerosdias.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 608px;
    width: 30%;
    float: left;
    background-position: center;
    border-right: 8px solid  #EB7E2B;
     border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.bd-modal-vacuna .img-bg-modal {
    background-image: url(../img/img-background/modal-vacuna.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 608px;
    width: 30%;
    float: left;
    background-position: center;
    border-right: 8px solid #EB7E2B;
     border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.bd-modal-sobrecachorro .img-bg-modal {
    background-image: url(../img/img-background/modal-sobrecachorro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 608px;
    width: 30%;
    float: left;
    background-position: center;
    border-right: 8px solid  #EB7E2B;
     border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
/*detalle de los modales*/
/*modal primerosdias*/
.modal-mundo .modal-header .close{
    padding:  12px 19px 14px 19px;
    margin: 0;
    border-radius: 50%;
    background-color: #EB7E2B;
}

.modal-mundo .contenido-modal h3{
    background-color: #EB7E2B;
    padding: 7px 5px;
    text-align: center;
    font-family: "frutiger-LT-57-cond";
    font-weight: 100;
    letter-spacing: 1px;
    color: white;
}

.modal-mundo .contenido-modal .btn-modal-leer-mas{
    background-color:#EB7E2B;
    border: none;
    width: 100%;
    border-radius: 5px;
    color: white;
    padding: 5px;
    letter-spacing: 1px;
    text-align: center;
}
.modal-mundos .contenido-modal .btn-modal-leer-mas:hover{
    background-color:#EB7E2B;
}
.modal-mundo .contenido-modal .contenido-text{
    height: 240px;
}

/*----*/
@media (min-width: 768px){
    .modal-dialog{
        margin: 150px auto;
    }
}
