*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.h4, .h5, .h6, h4, h5, h6{
    margin: 0;
}
/*---estilos generico---*/
body{
    margin: 0;
    padding: 0;
    color: white;

}

section{
    float: left;
    overflow: hidden;
    width: 100%;
    height: auto;
}
/*tipografia*/
.text-naranjo{
    color: #EB7E2B;
}
.text-black{
    color: black;
}
.detalle-sizemas{
    font-size: 1.4em;
}
/*---Fuentes---*/
@font-face {
  font-family: "futura-bold";
  src: url("../fonts/fuente-extra/FuturaLTCondensedBold.ttf");
}
.futura-bold{
    font-family: "futura-bold";
}
@font-face {
  font-family: "frutiger-std-con";
  src: url("../fonts/fuente-extra/FrutigerLTStd-Cn.otf");
}
.frutiger-std-con{
    font-family: "frutiger-std-con";
}
@font-face {
  font-family: "frutiger-bold-cond";
  src: url("../fonts/fuente-extra/Frutiger-Bold-Condensed.ttf");
}
.frutiger-bold-cond{
    font-family: "frutiger-bold-cond";
}
@font-face {
  font-family: "frutiger-LT-57-cond";
  src: url("../fonts/fuente-extra/Frutiger-LT-57-Condensed.ttf");
}
.frutiger-LT-57-cond{
    font-family: "frutiger-LT-57-cond";
}
.container-fluid{
    z-index: 99;
}
/*Navegacion*/
header{
    width: 100%;
    background-color: black;
    position: fixed;
}
.logo-link{
    width: 15%;
    float: left;
    position: absolute;
    top: -7px;
}
.logo-link svg{

}
.nav-principal{
    float: left;
    width: 74%;
    margin-left: 10%;
}
.redes-sociales{
    float:left;
    width: 15%;
    padding: 15px;
}
.nav-principal ul{
    width: 100%;
    height: auto;
    overflow:hidden;
}
.nav-principal li{
    width: 20%;
    float: left;
    text-align: center;
    padding: 10px;
    padding-top:20px;
    list-style-type: none;
    letter-spacing: 1px;
}
.nav-principal li a{
    color: white;
    text-decoration: none;
}
.redes-sociales .fa-stack-1x {
    color: black;
}
.redes-sociales .fa-circle{
 color: white;
}
.redes-sociales a{
    font-size: 0.8em;

}
/*---seccion video----*/
.video-inicio iframe{
    width: 100%;
}
.video-inicio img{
    width: 100%;
}
/*---Seccion producto----*/

.producto .slide-img{
    background-image: url(../img/slide-producto.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.producto h3{
    padding: 20px 0px;
    width: 340px;
    font-size: 2.2em;
    letter-spacing: 1px;
}

.ruta .slide-img{
    background-image: url(../img/ruta-cannes.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.ruta h3{
    padding: 20px 0px;
    width: 340px;
    font-size: 2.2em;
    letter-spacing: 1px;
    color: black;
}

.box-h3-producto{
    width: 50%;
    padding: 20px;
    padding-top: 50px;
}
.box-h3-ruta{
    width: 50%;
    padding: 20px;
    padding-top: 50px;
    color: black;
}
.linea-separador{
    margin-top: -25px;
    width: 280px;
    display: table-caption;
    border-bottom: 1px solid white;
}

.linea-separador-ruta{
    margin-top: -25px;
    width: 280px;
    display: table-caption;
    border-bottom: 1px solid black;
}
.box-h3-producto p {
    font-size: 1.1em;
    width: 280px;
    margin-top: -15px;
}
.box-h3-ruta p {
    font-size: 1.1em;
    width: 280px;
    margin-top: -15px;
}
.producto-categ figcaption{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.producto-categ{
    padding: 50px 0px;
}
.producto-categ figure{
    width: 31.3%;
    float: left;
    margin: 1%
}
.producto-categ figure img{
    width: 100%;
}
.producto-categ figcaption h4{
    text-align: center;
    padding: 23px;
    letter-spacing: 1px;
}
.cachorro-bg figcaption{
    background-color: #42B3DA;
}
.adulto-bg figcaption{
    background-color: #DF3245;
}
.senior-bg figcaption{
    background-color: #9A42DC;
}
.left-nav-producto{
    width: 10%;
    float: left;
}
.center-carousel-producto{
    width: 30%;
    float:left;
}
.right-contenido-producto{
    width: 60%;
    float: left;
}
.botton-tabla-producto{
    width: 100%;
}
/*producto-contenido*/
.detalle-producto h2{
    border-bottom: 2px solid #EB7E2B;
    width: 180px;

}

.detalle-producto h4{
    font-size: 1em;
    margin-top: -3px;
}
/* RUTA CANNES*/
.ruta padding {
    font-size: 1.3em;
    width: 354px;
    margin-top: 5px;
}
.ruta-cannes figcaption{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.ruta-cannes{
    padding: 50px 0px;
}
.ruta-cannes figure{
    width: 31.3%;
    float: left;
    margin: 1%;
    align: center;
}
.ruta-cannes figure img{
    width: 100%;
    border-radius: 6px 6px 0px 0px;

}
.ruta-cannes figcaption h5{
    text-align: center;
    padding: 3px;

}
.ruta-cannes figcaption p{
    text-align: center;
      padding:3px;
}
.rutav-bg figcaption{
    background-color: #A40606 ;
}
.rutasauce-bg figcaption{
    background-color:#42B3DA ;

}
.rutasauce-bg figcaption{
    background-color:#42B3DA;

}
.rutaparbic-bg figcaption{
    background-color:#FFA900;

}
.cafeteria-bg figcaption{
    background-color:#7474C3;

}
.fuhu-bg figcaption{
    background-color:#803389;

}
.sauce-bg figcaption{
    background-color:#479DC5;

}
.papparazzo-bg figcaption{
    background-color:#3BB606;

}


/*@media only screen and (min-width: 1024px){

}*/
