*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.h4, .h5, .h6, h4, h5, h6{
    margin: 0;
}
ol, ul{
    margin: 0;
}

/*---estilos generico---*/
body{
    margin: 0;
    padding: 0;
    color: white;

}

section{
    float: left;
    overflow: hidden;
    width: 100%;
    height: auto;
}
/*tipografia*/
.text-naranjo{
    color: #EB7E2B;
}
.text-black{
    color: black;
}
.text-grey{
    color: #444444;
}
.detalle-sizemas{
    font-size: 1.4em;
}
/*---Fuentes---*/
@font-face {
  font-family: "futura-bold";
  src: url("../fonts/fuente-extra/FuturaLTCondensedBold.ttf");
}
.futura-bold{
    font-family: "futura-bold";
}
@font-face {
  font-family: "frutiger-std-con";
  src: url("../fonts/fuente-extra/FrutigerLTStd-Cn.otf");
}
.frutiger-std-con{
    font-family: "frutiger-std-con";
}
@font-face {
  font-family: "frutiger-bold-cond";
  src: url("../fonts/fuente-extra/Frutiger-Bold-Condensed.ttf");
}
.frutiger-bold-cond{
    font-family: "frutiger-bold-cond";
}
@font-face {
  font-family: "frutiger-LT-57-cond";
  src: url("../fonts/fuente-extra/Frutiger-LT-57-Condensed.ttf");
}
.frutiger-LT-57-cond{
    font-family: "frutiger-LT-57-cond";
}
.container-fluid{
    z-index: 99;
}
/*Navegacion*/
@font-face {
  font-family: "frutiger-67-bold-cond";
  src: url("../fonts/fuente-extra/Frutiger-Bold-Condensed.ttf");
}
.frutiger-67-bold-cond{
    font-family: "frutiger-67-bold-cond";
}

/*---------------NAVEGACION------------*/
header{
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 99;
}

.logo-h1{
    position: absolute;
    top: -8px;
}
.logo-h1 img{
    width: 160px
}
.nav-principal{
    float: left;
    width: 70%;
    margin-left: 16%;
}
.nav-principal ul{
    width: 100%;
    height: auto;
    overflow:hidden;
    margin: 0;
    padding: 0;
}
.nav-principal li{
    width: 20%;
    float: left;
    text-align: center;
    list-style-type: none;
    letter-spacing: 1px;
    font-family: "futura-bold";
}

.nav-principal li a{
    color: white;
    font-size: 1em;
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 26px;
    display: block;
    padding-right: 1px;
     -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 300ms ease;
    height: 71px;
}
.nav-principal li a:hover{
    background-color: #E46A44;
    color: white;
     -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 300ms ease;
}
.nav-principal li a:hover:before{
    content: url(../img/iconos/icon-hueso-blanco.png);
    vertical-align: middle;
    display: inline-block;
    zoom: 50%;
    padding-right: 8px;
     -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 300ms ease;
}
.nav-principal li a:hover{

}
.redes-sociales{
    float:left;
    width: 12%;
    padding: 20px 0px;
}
.redes-sociales .fa-stack-1x {
    color: black;
}
.redes-sociales .fa-circle{
 color: white;
}
.redes-sociales a{
    font-size: 0.8em;


}
.redes-sociales .fa-stack{
     -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    padding-left: 5px;
}
.redes-sociales .fa-stack:hover {
-moz-transform: scale(1.4);
-webkit-transform: scale(1.4);
-o-transform: scale(1.4);
-ms-transform: scale(1.4);
transform: scale(1.4);
     -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;

}
.redes-sociales .fa-stack-1x:hover{
    padding-top: 0px;
}

/*---------------FIN NAVEGACION------------*/

/*-------------SECCION VIDEO-------------*/
.video-inicio iframe{
    width: 100%;
}
.video-inicio img{
    width: 100%;
}
/*---------------FINNAVEGACION------------*/

/*-------------SECCION PRODUCTO------------*/

/*Img-Background*/
.producto .slide-img{
    background-image: url(../img/img-background/slide-producto.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
slide-img{
    height: 330px;
}

.box-h3-producto{
    height: 330px;
}
.producto h3{
    padding: 20px 0px;
    width: 450px;
    font-size: 3em;
    letter-spacing: 1px;
    margin-top: 7%;
}
.box-h3-producto p {
    font-size: 1.3em;
    width: 400px;
    margin-top: -15px;
}
.linea-separador{
    margin-top: -25px;
    width: 395px;
    display: table-caption;
    border-bottom: 1px solid white;
}
/*-Fin-*/

/*Figure- Categoria productos*/
.producto-categ figcaption{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
     -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.producto-categ{
    padding: 50px 0px;
}
.producto-categ figure{
    width: 23%;
    float: left;
    margin: 1%;
    cursor: pointer;
}
.producto-categ figure img{
    width: 100%;
}
.producto-categ figcaption h4{
    text-align: center;
    padding: 23px;
    letter-spacing: 1px;
    font-size: 1.5em;
}
.producto-categ figcaption:hover{
    -webkit-box-shadow:inset 1px 1px 20px 1px rgba(33, 33, 33, 0.21);
box-shadow:inset 1px 1px 20px 1px rgba(33, 33, 33, 0.21);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.cachorro-bg figcaption{
    background-color: #42B3DA;
}
.adulto-bg figcaption{
    background-color: #DF3245;
}
.senior-bg figcaption{
    background-color: #9A42DC;
}
.r-pequena-bg figcaption{
    background-color: #FFA900;
}
/*-Fin-*/

/*contenedores del contenido de producto navegacion/carousel/contenido*/
.left-nav-producto{
    width: 10%;
    display: table-cell;
    vertical-align: middle;
}
.center-carousel-producto{
    width: 25%;
    display: table-cell;
    vertical-align: middle;
}
.right-contenido-producto{
    width: 65%;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}
.producto-alin-table{
    display: table;
    padding: 10px 0;
}
.botton-tabla-producto{
    width: 100%;
    height: 300px;
}

/*fin*/
/*-detalle de contenido de producto-*/
.detalle-producto h2{
    width: 280px;
    font-size: 2.5em;
    font-family: "frutiger-LT-57-cond";
}
.detalle-producto .hr-cachorro{
    border-bottom: 2px solid #EB7E2B;
    color: #EB7E2B;
     margin-top: -10px;
    border-top: none;
    margin-bottom: 10px;
    width: 250px;
}
.detalle-producto h4{
    font-family: "frutiger-LT-57-cond";
    font-weight: 100;
}
.producto-contenido{
  margin-bottom: 3%;
}

.detalle-producto li{
    display: table;
    margin-top: 10px;
    font-size: 1em;
}
.detalle-producto .digestion::before {
    content: url(../img/iconos/icon-1-lista-producto.png);
    display: inline-block;
    zoom:70%;
    padding-right: 10px;
    vertical-align: middle;
}
.detalle-producto .calcio::before {
    content: url(../img/iconos/icon-2-lista-producto.png);
    display: inline-block;
    zoom:70%;
    padding-right: 10px;
    vertical-align: middle;
}
.detalle-producto .brillante::before {
    content: url(../img/iconos/icon-3-lista-producto.png);
    display: inline-block;
    zoom:70%;
    padding-right: 10px;
    vertical-align: middle;
}
.detalle-producto .consistentes::before {
    content: url(../img/iconos/icon-4-lista-producto.png);
    display: inline-block;
    zoom:70%;
    padding-right: 10px;
    vertical-align: middle;
}
.detalle-producto .naturales::before {
    content: url(../img/iconos/icon-5-lista-producto.png);
    display: inline-block;
    zoom:70%;
    padding-right: 10px;
    vertical-align: middle;
}
/*-Fin-*/
/*-navegacion de producto-*/
.left-nav-producto .nav-producto div{
    list-style:none;
    color: black;
    text-align: center;
}
.left-nav-producto .nav-producto  .item_principal-nav-producto:nth-child(1):hover{
    background-color: #42B3DA;
    color: white;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
.left-nav-producto .nav-producto  .item_principal-nav-producto:nth-child(3):hover{
    background-color: #DF3245;
    color: white;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
.left-nav-producto .nav-producto  .item_principal-nav-producto:nth-child(5):hover{
    background-color: #9A42DC;
    color: white;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
.left-nav-producto .nav-producto .item_principal-nav-producto:nth-child(7):hover{
    background-color: #FFA900;
    color: white;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
.left-nav-producto .nav-producto  .item_principal-nav-producto:nth-child(1){
    border: 1px solid #42B3DA;
    color: #42B3DA;
}
.left-nav-producto .nav-producto .item_principal-nav-producto:nth-child(3){
    border: 1px solid #DF3245;
    color: #DF3245;
}
.left-nav-producto .nav-producto .item_principal-nav-producto:nth-child(5){
    border: 1px solid #9A42DC;
    color: #9A42DC;

}
.left-nav-producto .nav-producto .item_principal-nav-producto:nth-child(7){
    border: 1px solid #FFA900;
    color: #FFA900;

}
.left-nav-producto .nav-producto .seco-cachorro, .left-nav-producto .nav-producto .snack-cachorro {
    color: #42B3DA;
}
.left-nav-producto .nav-producto .seco-adulto, .left-nav-producto .nav-producto .snack-adulto {
    color: #DF3245;
}
.left-nav-producto .nav-producto .seco-senior, .left-nav-producto .nav-producto .snack-senior {
    color:  #9A42DC;
}
.left-nav-producto .nav-producto .seco-pequenas, .left-nav-producto .nav-producto .snack-pequenas{
    color: #FFA900;
}
.left-nav-producto .nav-producto ul{
    text-align: center;
}
.left-nav-producto .nav-producto ul li{
    list-style-type: none;
    padding: 4px;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    cursor: pointer;
}

.left-nav-producto .nav-producto .link_subcategoria-prodcuto li:hover{
      -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 1000ms ease;
}
.seco-cachorro-activo::before, .snack-cachorro-activo::before{
    content: url(../img/iconos/icon-hueso-cachorro.png);
    zoom:40%;
    vertical-align: middle;
    display: inline-block;
    padding: 4px;
}
.seco-adulto-activo::before, .snack-adulto-activo::before{
    content: url(../img/iconos/icon-hueso-adulto.png);
    zoom:40%;
    vertical-align: middle;
    display: inline-block;
    padding: 4px;
}
.seco-senior-activo::before, .snack-senior-activo::before{
    content: url(../img/iconos/icon-hueso-senior.png);
    zoom:40%;
    vertical-align: middle;
    display: inline-block;
    padding: 4px;
}
.seco-pequenas-activo::before, .snack-pequenas-activo::before{
    content: url(../img/iconos/icon-hueso-pequenas.png);
    zoom:40%;
    vertical-align: middle;
    display: inline-block;
    padding: 4px;
}

.left-nav-producto .nav-producto  .item_principal-nav-producto{
    border: 1px solid black;
    width: 150px;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-family: "frutiger-LT-57-cond";
    font-size: 1.2em;
}
.left-nav-producto .nav-producto  .item_principal-nav-producto:nth-child(1):hover{
    background-color: #42B3DA;
    color: white;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
left-nav-producto .nav-producto  .item_principal-nav-producto:nth-child(1):active{
    background-color: #42B3DA;
    color: white;
}
.left-nav-producto .nav-producto  .item_principal-nav-producto:nth-child(3):hover{
    background-color: #DF3245;
    color: white;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
.left-nav-producto .nav-producto  .item_principal-nav-producto:nth-child(5):hover{
    background-color: #9A42DC;
    color: white;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
.left-nav-producto .nav-producto .item_principal-nav-producto:nth-child(7):hover{
    background-color: #FFA900;
    color: white;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
.left-nav-producto .nav-producto  .item_principal-nav-producto:nth-child(1){
    border: 1px solid #42B3DA;
    color: #42B3DA;
}
.left-nav-producto .nav-producto .item_principal-nav-producto:nth-child(3){
    border: 1px solid #DF3245;
    color: #DF3245;
}
.left-nav-producto .nav-producto .item_principal-nav-producto:nth-child(5){
    border: 1px solid #9A42DC;
    color: #9A42DC;

}
.left-nav-producto .nav-producto .item_principal-nav-producto:nth-child(7){
    border: 1px solid #FFA900;
    color: #FFA900;

}
.left-nav-producto .nav-producto .seco-cachorro, .left-nav-producto .nav-producto .snack-cachorro {
    color: #42B3DA;
}
.left-nav-producto .nav-producto .seco-adulto, .left-nav-producto .nav-producto .snack-adulto {
    color: #DF3245;
}
.left-nav-producto .nav-producto .seco-senior, .left-nav-producto .nav-producto .snack-senior {
    color:  #9A42DC;
}
.left-nav-producto .nav-producto .seco-pequenas, .left-nav-producto .nav-producto .snack-pequenas{
    color: #FFA900;
}
.left-nav-producto .nav-producto ul{
    text-align: center;
}
.left-nav-producto .nav-producto ul li{
    list-style-type: none;
    padding: 4px;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    cursor: pointer;
}
.left-nav-producto .nav-producto .seco-cachorro:hover:before, .left-nav-producto .nav-producto .snack-cachorro:hover:before{
    content: url(../img/iconos/icon-hueso-cachorro.png);
    vertical-align: middle;
    display: inline-block;
    padding: 4px;
    zoom: 40%;
}
.left-nav-producto .nav-producto .link_subcategoria-prodcuto li:hover{
      -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all  300ms ease;
}
.left-nav-producto .nav-producto .seco-adulto:hover:before, .left-nav-producto .nav-producto .snack-adulto:hover:before{
    content: url(../img/iconos/icon-hueso-adulto.png);
    vertical-align: middle;
    display: inline-block;
    padding: 4px;
    zoom: 40%;
}
.left-nav-producto .nav-producto .seco-senior:hover:before, .left-nav-producto .nav-producto .snack-senior:hover:before{
    content: url(../img/iconos/icon-hueso-senior.png);
    vertical-align: middle;
    display: inline-block;
    padding: 4px;
    zoom: 40%;
}
.left-nav-producto .nav-producto .seco-pequenas:hover:before, .left-nav-producto .nav-producto .snack-pequenas:hover:before{
    content: url(../img/iconos/icon-hueso-pequenas.png);
    vertical-align: middle;
    display: inline-block;
    padding: 4px;
    zoom: 40%;
}

/*Fin*/
/*bottom tabla*/
.box-tabla-certificado{
   background-image: url(../img/img-background/perrito-tabla.png);
   background-repeat: no-repeat;
   background-size: 30%;
   background-position: left bottom;
}
.img-dog-tabla{
    background-image: url(../img/img-background/perrito-tabla.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 80%;
    float: left;
    width: 35%;
    height: 500px;
}
.box-tabla-certificado{
    float: left;
    width: 100%;
}
.certificado-img .galleta{
    width: 60%;
}
.certificado-img{
    width: 65%;
    float: right;
}
.certificado-img .favet{
    display: block;
    width: 10%;
    margin-left: 30px;
    margin-top: 10px;
}
.botton-tabla-producto table{
    width: 50%;
    float: left;
    margin-left: 20px;
}
.margin-top-table{
    padding-top: 30px;
    height: auto;
    overflow: hidden;
}
.icon-tabla-nutri{
    padding: 20px;
    width: 45%;
    float: left;
}
.icon-tabla-nutri img{
    width: 23%;
    float: left;
    margin: 1%
}
.botton-tabla-producto{
    width: 100%;
    height: 300px;
}
/*-Fin-*/
/*---------------FIN SECCION PRODUCTO------------*/

/*----------------SECCION RUTA CANNES----------------*/
/*Img-Background*/
.ruta .slide-img{
    background-image: url(../img/img-background/slide-img-ruta.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-h3-ruta h3{
    padding: 20px 0px;
    width: 340px;
    font-size: 3.1em;
    letter-spacing: 1px;
    margin-top: 10%;
}

.box-h3-ruta{
    color: black;
    height: 330px;
}

.linea-separador-ruta{
    margin-top: -25px;
    width: 280px;
    display: table-caption;
    border: 1px solid black;
}

.box-h3-ruta p {
    font-size: 1.4em;
    width: 290px;
    margin-top: -15px;
}
/*-Fin-*/

/*Figure-Categoria rutas*/
.ruta-cannes-categ figcaption{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.ruta-cannes-categ{
    padding: 50px 0px;
}

.ruta-cannes-categ figure{
    width: 31.3%;
    float: left;
    margin: 1%;
    text-align: center;
    cursor: pointer;
}
.ruta-cannes-categ figure img{
    width: 100%;
}
.ruta-cannes-categ figcaption{
    padding: 10px;
    height: 90px;
}
.ruta-cannes-categ figcaption h4{
    font-size: 1.4em;
    font-weight: 100;
    letter-spacing: 1px;
    padding-top: 5px;
    margin-bottom: 8px;
    font-family: "frutiger-LT-57-cond";
}
.ruta-cannes-categ figcaption p{
    font-size: 0.9em;
}
.ruta-cannes-categ figure:nth-child(1) figcaption{
    background-color: #A40606 ;
}
.ruta-cannes-categ figure:nth-child(2) figcaption{
    background-color:#FFA900 ;

}
.ruta-cannes-categ figure:nth-child(3) figcaption{
    background-color:#7474C3;

}
.ruta-cannes-categ figure:nth-child(4) figcaption{
    background-color:#FFA900;

}
.ruta-cannes-categ figure:nth-child(5) figcaption{
    background-color:#479DC5;

}
.ruta-cannes-categ figure:nth-child(6) figcaption{
    background-color:#3BB606;

}

/*-Fin-*/
/*----------------FIN SECCION RUTA CANNES----------------*/


/*--------------MUNDO CACHORRO---------------*/
.mundocachorro .slide-img{
    background-image: url(../img/shutterstock_80773975.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-h3-mundocachorro{
    width: 60%;
    padding: 20px;
    padding-top: 50px;

}
.linea-separador-mundocachorro{
    margin-top: -8px;
    width: 180px;
    display: table-caption;
    border-bottom: 1px solid white;
}
.mundo-cachorro figcaption{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.mundo-cachorro{
    padding: 50px 0px;
}
.mundo-cachorro figure{
    width: 31.3%;
    float: left;
    margin: 1%
}
.mundo-cachorro figure img{
    width: 100%;
}
.mundo-cachorro figcaption h4{
    text-align: center;
    padding: 23px 2px;
    letter-spacing: 1px;
}
.mundocachorro figcaption{
    background-color: #EB7E2B;
}
/*---*/
/*MUNDO CACHORRO*/
.mundocachorro .slide-img{
    background-image: url(../img/shutterstock_80773975.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-h3-mundocachorro{
    width: 60%;
    padding: 20px;
    padding-top: 50px;

}
.linea-separador-mundocachorro{
    margin-top: -8px;
    width: 180px;
    display: table-caption;
    border-bottom: 1px solid white;
}
.mundo-cachorro figcaption{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.mundo-cachorro{
    padding: 50px 0px;
}
.mundo-cachorro figure{
    width: 31.3%;
    float: left;
    margin: 1%
}
.mundo-cachorro figure img{
    width: 100%;
}
.mundo-cachorro figcaption h4{
    text-align: center;
    padding: 23px 2px;
    letter-spacing: 1px;
}
.mundocachorro figcaption{
    background-color: #EB7E2B;
}
/*-------------MEDIAS QUERY-----------*/
@media  (max-width: 1024px) {
    .nav-principal li a {
        height: 85px;
    }
    .padding-center-link a{
        padding-top: 30px!important;
    }
    .padding-top-hover a:hover{
        padding-top: 25px!important;
    }
    .redes-sociales{
    padding: 25px 0px;
    }
    .producto h3{
    font-size: 2.5em;
    }
    .box-h3-producto p {
    font-size: 1.3em;
    width: 330px;
    }
    .linea-separador{
    width: 320px;
}
}
